.card-image{
    height: 60px;
}
.blue-card{
    background-color: aliceblue !important;
}
.yellow-card{
    background-color:lightyellow !important ;
}
.green-card{
    background-color:#b0ecb569 !important ;
}