.card-image{
    height: 60px;
}
.blue-card{
    background-color: #f2f6ff !important;
}
.yellow-card{
    background-color:#fcfcf0 !important ;
}
.green-card{
    background-color:#f2fcf9 !important ;
}